@(upcoming: Seq[(Event, Location, Seq[models.Tag])], later: Seq[(Event, Location, Seq[models.Tag])])(implicit flash: Flash)

@showEvent(e: Event, l: Location, upcoming: Boolean) = {
  <p><a href="@routes.EventController.viewEvent(e.slug)">@e.title</a> in @l.city</p>
}

@scripts = {
  // noop
}

@main("Welcome to play-scala-calendar")(scripts) {
  <h1>Welcome to play-scala-calendar</h1>
  <hr/>
  <h2>Upcoming</h2>
  @for((e, l, t) <- upcoming) { @showEvent(e, l, true) }
  @if(upcoming.isEmpty) {
    Nothing's going on.
  }
  <h2>Later</h2>
  @for((e, l, t) <- later) { @showEvent(e, l, false) }
  @if(later.isEmpty) {
    Nothing's going on.
  }
  @if(flash.get("success").isDefined) {
    <br/>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Success!</strong> @flash.get("success")
    </div>
  }
  @if(flash.get("error").isDefined) {
    <br/>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Ups!</strong> @flash.get("error")
    </div>
  }
}
