@(upcoming: Seq[(Occurrence, Option[(Event, Location, Seq[models.Tag])])], later: Seq[(Occurrence, Option[(Event, Location, Seq[models.Tag])])])(implicit flash: Flash)

@showEvent(occurrence: Occurrence, event: Event, location: Location) = {
  <p>@occurrence.date.dayOfWeek().getAsText() @occurrence.date.toString(if(upcoming) "dd.MM HH:mm" else "dd.MM.yyyy HH:mm") <a href="@routes.EventController.viewEvent(event.slug)">@event.title</a> in @location.city</p>
}

@scripts = {
  // noop
}

@main("Welcome to play-scala-calendar")(scripts) {
  <h1>Welcome to play-scala-calendar</h1>
  <hr/>
  <h2>Upcoming</h2>
  @for(x <- upcoming) { @showEvent(x._1, x._2.get._1, x._2.get._2) }
  @if(upcoming.isEmpty) {
    Nothing's going on.
  }
  <h2>Later</h2>
  @for(x <- later) { @showEvent(x._1, x._2.get._1, x._2.get._2) }
  @if(later.isEmpty) {
    Nothing's going on.
  }
  @if(flash.get("success").isDefined) {
    <br/>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Success!</strong> @flash.get("success")
    </div>
  }
  @if(flash.get("error").isDefined) {
    <br/>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Ups!</strong> @flash.get("error")
    </div>
  }
}
