@import helpers.FormHelper.fields
@(form: Form[forms.AddEventForm.Data], locationOptions: Seq[(String, String)], hourOptions: Seq[(String, String)], minuteOptions: Seq[(String, String)], slug: Option[String])(implicit request: RequestHeader, messages: Messages)

@title = @{if (slug.isDefined) "Edit event" else "Add an event"}
@action = @{if (slug.isDefined) routes.EventController.editEventPost(slug.get) else routes.EventController.addEventPost()}

@scripts = {
  // noop
}

@main(title)(scripts) {
  <h1>@title</h1>
  @helper.form(action = action) {
    @helper.CSRF.formField
    @helper.inputText(form("title"))
    @helper.inputText(form("description"))
    @helper.select(form("locationId"), options = locationOptions)
    @helper.inputText(form("tags"))
    <input type="submit" value="@{if (slug.isDefined) "Update" else "Add"}" class="btn btn-primary"/>
  }
}
