@import helpers.FormHelper.fields
@(form: Form[forms.AddEventForm.Data], locationOptions: Seq[(String, String)], hourOptions: Seq[(String, String)], minuteOptions: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)

@scripts = {
  // noop
}

@main("Add an event")(scripts) {
  <h1>Add an event</h1>
  @helper.form(action = routes.EventController.addEventPost()) {
    @helper.CSRF.formField
    @helper.inputText(form("title"))
    @helper.inputText(form("description"))
    <div class="form-row">
      <div class="col">
        @helper.inputDate(form("startsAtDate"))
      </div>
      <div class="col">
        @helper.select(form("startsAtHour"), options = hourOptions)
      </div>
      <div class="col">
        @helper.select(form("startsAtMinute"), options = minuteOptions)
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        @helper.inputDate(form("endsAtDate"))
      </div>
      <div class="col">
        @helper.select(form("endsAtHour"), options = hourOptions)
      </div>
      <div class="col">
        @helper.select(form("endsAtMinute"), options = minuteOptions)
      </div>
    </div>
    @helper.select(form("locationId"), options = locationOptions)
    <input type="submit" value="Add" class="btn btn-primary"/>
  }
}
