@import helpers.FormHelper.fields
@(form: Form[forms.AddEventForm.Data], locationOptions: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)

@main("Add an event") {
  <h1>Add an event</h1>
  @helper.form(action = routes.EventController.addEventPost()) {
    @helper.CSRF.formField
    @helper.inputText(form("title"))
    @helper.inputText(form("description"))
    @helper.inputDate(form("startsAt"))
    @helper.inputDate(form("endsAt"))
    @helper.select(form("locationId"), options = locationOptions)
    <input type="submit" value="Add" class="btn btn-primary"/>
  }
}
