@import org.joda.time.DateTime
@import org.joda.time.Minutes
@(events: Seq[Event])(implicit request: RequestHeader, messages: Messages)

@duration(startAt: DateTime, endsAt: DateTime) = @{
  Minutes.minutesBetween(startAt, endsAt).getMinutes
}

@scripts = {
  $('#events').DataTable();
}

@main("All events")(scripts) {
  <h1>All events</h1>
  <table id="events">
    <thead>
    <tr><th>Title</th><th>Description</th><th>Starts at</th><th>Duration</th><th>Location</th></tr>
    </thead>
    <tbody>
    @for(c <- events) {
      <tr><td>@c.title</td><td>@c.description</td><td>@c.startsAt.toString("dd.MM.yyyy HH:mm")</td><td>@duration(c.startsAt, c.endsAt)</td><th>@c.locationId</th></tr>
    }
    </tbody>
  </table>
}
