@import org.joda.time.DateTime
@import org.joda.time.Minutes
@(data: Seq[(Event, Location)])(implicit request: RequestHeader, messages: Messages)

@duration(startAt: DateTime, endsAt: DateTime) = @{
  Minutes.minutesBetween(startAt, endsAt).getMinutes
}

@scripts = {
  $('#events').DataTable();
}

@main("All events")(scripts) {
  <h1>All events</h1>
  <table id="events">
    <thead>
    <tr><th>Title</th><th>Description</th><th>Starts at</th><th>Duration</th><th>Location</th></tr>
    </thead>
    <tbody>
    @for((e, l) <- data) {
      <tr><td><a href="@routes.EventController.viewEvent(e.slug)">@e.title</a></td><td>@e.description</td><td>@e.startsAt.toString("dd.MM.yyyy HH:mm")</td><td>@duration(e.startsAt, e.endsAt)</td><td><a href="@routes.LocationController.viewLocation(e.locationId)">@l.address, @l.country @l.zipCode @l.city</a></td><td><a href="@routes.EventController.editEvent(e.slug)">Edit</a></td></tr>
    }
    </tbody>
  </table>
}
