@import helpers.FormHelper.fields
@(form: Form[forms.AddLocationForm.Data])(implicit request: RequestHeader, messages: Messages)

@main("Add a location") {
  <h1>Add a location</h1>
  @helper.form(action = routes.LocationController.addLocationPost()) {
    @helper.CSRF.formField
    @helper.inputText(form("title"))
    @helper.inputText(form("address"))
    @helper.inputText(form("city"))
    @helper.inputText(form("zipCode"))
    @helper.inputText(form("state"))
    @helper.inputText(form("country"))
    <input type="submit" value="Add" class="btn btn-primary"/>
  }
}
