@import helpers.FormHelper.fields
@(form: Form[forms.AddLocationForm.Data], id: Option[Long])(implicit request: RequestHeader, messages: Messages)

@title = @{if (id.isDefined) "Edit location" else "Add a location"}
@action = @{if (id.isDefined) routes.LocationController.editLocationPost(id.get) else routes.LocationController.addLocationPost()}

@scripts = {
  // noop
}

@main(title)(scripts) {
  <h1>@title</h1>
  @helper.form(action = action) {
    @helper.CSRF.formField
    @helper.inputText(form("title"))
    @helper.inputText(form("address"))
    @helper.inputText(form("city"))
    @helper.inputText(form("zipCode"))
    @helper.inputText(form("state"))
    @helper.inputText(form("country"))
    <input type="submit" value="Add" class="btn btn-primary"/>
  }
}
