@(locations: Seq[Location])(implicit request: RequestHeader, messages: Messages)

@scripts = {
  $('#locations').DataTable();
}

@main("All locations")(scripts) {
  <h1>All locations</h1>
  <table id="locations">
    <thead>
    <tr><th>Title</th><th>Address</th><th>City</th><th>Zip Code</th><th>State</th><th>Country</th></tr>
    </thead>
    <tbody>
    @for(c <- locations) {
      <tr><td><a href="@routes.LocationController.viewLocation(c.id.get)">@c.title</a></td><td>@c.address</td><td>@c.city</td><td>@c.zipCode</td><td>@c.state</td><td>@c.country</td></tr>
    }
    </tbody>
  </table>
}
